
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PreviewView</title>
</head>
<body>
    <div> 
        这里是插件1的预览视图
        <div class="container">
            <div class="row">
                <div class="col-sm border border-primary">
                   这里是预览视图第一列
                </div>
                <div class="col-sm border border-primary">
                    这里是预览视图第二列
                </div>
            </div>
        </div>
    </div>
</body>
</html>
