
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Unity Index</title>
    <style type="text/css">
        body{
           margin:0px;
          padding:0px;
          width:100%;
        }
        html{
            width:100%;
        }

        div{
            width:100%;
        }

        h2{
            width:100%;
            text-align:center;
            padding:10px;
        }

    </style>
</head>
<body>
    <div> 
        <h2>Unity</h2>
    </div>
</body>
</html>
