@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>学习关于 <a href="https://docs.microsoft.com/aspnet/core">构建ASP.NET Core Web apps</a>.</p>
</div>
