@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">异常</h1>
<h2 class="text-danger">处理请求时发生错误。</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>请求 ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>开发模式</h3>
<p>
    切换到<strong>开发</strong>环境将显示有关所发生错误的详细信息。
</p>
<p>
    <strong>不应该为已部署的应用程序启用开发环境。</strong>
    它可能导致向最终用户显示异常中的敏感信息。
    对于本地调试，通过将<strong>ASPNETCORE_ENVIRONMENT</strong>环境变量设置为<strong>Development</strong>，启用<strong>Development</strong>环境重新启动应用程序。
</p>
